#headbar ul {
    background-color: black;
    list-style-type: none;
    margin-left: 220px;
    padding: 0;
    overflow: hidden;
    font-family: Verdana;
}

#headbar li {
    display: block;
    float: left;
}

#headbar li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#headbar li a:hover {
    background-color: gray;
    transition: .3s background-color;
}

#headbar a.active {
    background-color: gray;
}

#content {
        margin: 0;
        padding-left: 230px;
        padding-right: 230px;
        color: black;
        font-family:Verdana,"Arial", Times, serif;
        line-height: 170%
        text-align: justify;
        float: justify;
}


#drop {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
#drop {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#drop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
#drop a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.#drop a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
#drop:hover {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#drop:hover {
    background-color: #3e8e41;
}
