ul {
    background-color: #73858E;
    list-style-type: none;
}

li {
    float: left;
}

li a {
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f5f5dc;
}

a:active {
    background-color: #f5f5dc;
}
