#headbar ul {
    background-color: black;
    list-style-type: none;
    margin-left: 220px;
    padding: 0;
    overflow: hidden;
    font-family: Verdana;
}

#headbar li {
    float: left;
}

#headbar li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#headbar li a:hover {
    background-color: gray;
    transition: .3s background-color;
}

#headbar a.active {
    background-color: gray;
}

#content {
        margin: 0;
        padding-left: 230px;
        padding-right: 230px;
        color: #001133;
        font-family:Verdana,"Arial", Times, serif;
        line-height: 170%
        text-align: justify;
        float: justify;
}


#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    font-family: Verdana;
}

#sidebar li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

#sidebar li a:hover {
    background-color: #555;
    color: white;
    transition: .3s background-color;
}
